.switch-slider {
  width: var(--track-width);
  height: var(--track-height);
  background-color: var(--track-color);
}

.switch-slider::after {
  background-color: var(--checked-color);
}

.switch-input:checked + .switch-slider::after {
  opacity: 1;
}

.switch-thumb {
  background-color: var(--thumb-color);
  width: var(--thumb-width);
  height: var(--thumb-height);
  left: var(--thumb-left);
}
