@import "tailwindcss";

:root {
  --font-pixelify-sans: "Pixelify Sans", sans-serif;
}

#root {
  font-family: var(--font-pixelify-sans);
}

html {
  scroll-behavior: smooth;
}

/* globals.css */
body {
  overflow-x: hidden;
  font-family: var(--font-pixelify-sans);
}
